
<div class="min-h-screen bg-white">
  <header class="relative z-10">
    <div class="bg-gray-50">
      <nav class="relative max-w-7xl mx-auto flex items-center justify-between pt-8 px-6 xl:px-8" aria-label="Global">
        <div class="flex items-center justify-between w-full lg:w-auto">
          <a href="#">
            <span class="sr-only">Workflow</span>
            <%= image_pack_tag "logo.png", class: "h-16 w-auto", alt: "Logo CO Rochetaillée" %>
          </a>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <!-- Header -->
    <div class="py-24 bg-gray-50 sm:py-32">
      <div class="max-w-md mx-auto pl-4 pr-8 sm:max-w-lg sm:px-6 lg:max-w-7xl lg:px-8">
        <h1 class="text-4xl leading-10 font-extrabold tracking-tight text-gray-900 text-center sm:text-5xl sm:leading-none lg:text-6xl">Participer à la fête</h1>
        <p class="mt-6 max-w-3xl mx-auto text-xl leading-normal text-gray-500 text-center">Tout le monde peut se joindre à nous ! En marchant, en roulant, en courant, en moonwalkant, en jonglant, en dansant, en rigolant ! </p>
        <p class="mt-6 max-w-3xl mx-auto text-md leading-normal text-gray-500 text-center"> ⚠️ La possession d'un pass sanitaire et d'une justification d'identité sera cependant nécessaire ⚠️ </p>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="relative bg-white">
      <div class="lg:absolute lg:inset-0">
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <%= image_pack_tag "gaet_chateau.jpeg", class:"h-56 w-full object-cover lg:absolute lg:h-full", alt: "Le capitaine sur le terrain, le soleil se couche sur le chateau"%>
        </div>
      </div>
      <div class="relative py-16 px-4 sm:py-24 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:py-16 lg:grid lg:grid-cols-2">
        <div class="lg:pr-8">
          <div class="max-w-md mx-auto sm:max-w-lg lg:mx-0">
            <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
              Plus en détails
            </h2>
            <p class="mt-4 text-lg text-gray-500 sm:mt-3">
              On espère avoir toujours au moins une personne autour du terrain. Pour se faire, on vous demande de remplir les informations suivantes et on vous confirmera "votre" créneau.
              <br>
              Il n'y a rien d'obligatoire, et on prendra le relais chaque fois que ce sera nécessaire, mais on reste des gars de Division 5 donc aidez nous quoi 😛
            </p>
            <%= form_with(model: Slot.new, class: "mt-9 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8") do |form| %>
              <div>
                <%= form.label :first_name, "Prénom", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.text_field :first_name, required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div>
                <%= form.label :last_name, "Nom", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.text_field :last_name, required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div class="sm:col-span-2">
                <%= form.label :email, "Email", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.email_field :email, class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div class="sm:col-span-2">
                <%= form.label :phone, "Téléphone", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.phone_field :phone, class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div>
                <%= form.label :begin_at, "Début disponibilité", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.text_field :begin_at, placeholder: "Ex: Samedi 4H du matin", required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div>
                <%= form.label :end_at, "Fin disponibilité", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.text_field :end_at, placeholder: "Ex: Samedi 11H du matin", required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div class="sm:col-span-2">
                <%= form.label :duration, "Durée", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.text_field :duration, placeholder: "Ex: 45 minutes", required: true,  class: "block w-full shadow-sm sm:text-sm focus:ring-grape-500 focus:border-grape-500 border-gray-300 rounded-md" %>
                </div>
              </div>
              <div class="text-right sm:col-span-2">
                <%= form.submit "M'inscrire", class:"inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%= render "shared/footer" %>
</div>
